services:
  bot:
    image: razkhodka_bot
    env_file:
      - ./.env
    depends_on:
      - mongo
    networks:
      - backend

  mongo:
    image: mongo:latest
    ports:
      - '27017:27017'
    volumes:
      - mongo-volume:/data/db
    networks:
      - backend

  nginx:
    image: nginx:latest
    ports:
      - '8080:80'
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - bot
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  mongo-volume:
